html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
    box-sizing: border-box;
}

/* =======================================================
*
colores VIKHI:
MORADO PRIMARIO= #351B9E
VERDE constraste= #21CFAC
NEGRO= #1A1A1A
gris claro= ##f2f2f2
AZUL claro= #3B86FF
*
* ======================================================= */



body {
	color: #767676;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	font-size:15px;
	background:#f3f3f3;
}


/*==========================================
PRE LOADER
==========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f2f2f2;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

.top-margin {
	margin-top: 96px;
}
.bottom-margin {
	margin-bottom: 96px;
}

.floatright{
	float:rigth;
	display:inline-block;
}

.clierboth{
	overflow:hidden;
	width:100%;
	height:10px;
	background:red;
}

img{max-width:100%;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  outline: none;
}
.form-control {
	border: 1px solid #ddd;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	height: 45px;
	border-bottom:1px solid #ddd;
	background-color: rgba(255, 255, 255, 0);
	border-radius:0;
	-webkit-box-shadow:0;
	box-shadow:inset 0 0px 0px rgba(0,0,0,0.075);
}
.form-control:focus {
  border-color: #21CFAC;
}

h1,h2,h3,h4,h5,h6 { color: #767676;}

h1 {
	font-size: 48px;
	line-height: 50px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h2 {
	font-size: 35px;
	line-height: 38px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

h3 {
	font-size: 30px;
	line-height: 32px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0;
}

h4 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

h5 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}
h6 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	line-height: 29px;
	text-align: justify;
}
a{
	font-family: 'Source Sans Pro', sans-serif;
}
a:hover{
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
h1::selection {
  background: #21CFAC;
  color: #f2f2f2;
}
h2::selection {
  background: #21CFAC;
  color: #f2f2f2;
}
h3::selection {
  background: #21CFAC;
  color: #f2f2f2;
}
h4::selection {
  background: #21CFAC;
  color: #f2f2f2;
}
h5::selection {
  background: #21CFAC;
  color: #f2f2f2;
}
h6::selection {
  background: #21CFAC;
  color: #f2f2f2;
}
p::selection {
  background: #21CFAC;
  color: #f2f2f2;
}
.decorado{
	background: #21CFAC;
  color: #f2f2f2;
}
.decoradoBLUE{
	background: #351B9E;
  color: #f2f2f2;
}
.centrado{
	margin-left: auto;
	margin-left: auto;
	text-align: center;
}
.izquierda{
	text-align: left;
}
.turquesa{
	color: #21CFAC;
	}
.gris{
	color: #BFC5D2;
}
.negrita{
	color: #21CFAC;
	font-weight: 800;
}
.negritaBLUE{
	color: #351B9E;
	font-weight: 800;
}
.cursiva{
	color: #21CFAC;
	font-weight: 400;
	font-style: italic;
}
.piefoto{
	color: #21CFAC;
	font-weight: 400;
	font-style: italic;
	font-size: 14px;
	text-align: center;
	max-width: 700px;

}
.btn {
	border: 1px solid #3c3c3c;
	display: inline-block;
	min-width: 100px;
	padding: .9em;
	height: 50px;
	text-align: center;
	color: #3c3c3c;
	font-style: normal;
	letter-spacing: 1px;
	margin: 0;
	font-size: 16px;
	font-weight: 800;
	border-radius:0;
	margin-top:30px;
}
.btn:hover {
	background-color: transparent;
	color: #000;
	text-decoration: none;
}

.pink-btn {
	background: #21CFAC;
	border: none;
	margin-left: 10px;
	color: #f2f2f2;
	transition:.6s;
}

.pink-btn:hover {
	background-color: #351B9E;
	color: #f2f2f2;
	text-decoration: none;
}
.btn-white{
	border:2px solid #fff;
	color:#fff;
	border-radius:5px;
}
.btn-white:hover{
	border:2px solid #351B9E;
	color:#351B9E;
}
.btn-lg{
	background:#21CFAC;
	color:#fff;
	border:1px solid #21CFAC;
}
.btn-lg:hover{
	background:#21CFAC;
	color:#fff;
	border:1px solid #21CFAC;
}
.scrolldown {
	padding-top: 24px;
}
.sections {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.separator{
  border-bottom: 3px solid #898989;
  overflow: hidden;
  padding:3px 0px;
  width: 8%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.separator2{
  border-bottom: 3px solid #898989;
  overflow: hidden;
  padding:2px 0px;
  width: 10%;
	margin-bottom:20px;
}
.separatorwhite {
  border-bottom: 3px solid #fff;
  overflow: hidden;
  padding: 2px 0px;
  width: 10%;
  margin-bottom: 20px;
}
.separatorwhite2 {
  border-bottom: 3px solid #fff;
  overflow: hidden;
  padding:3px 0px;
  width: 8%;
  margin: 0 auto;
 	margin-bottom: 20px;
}
.banner .scroll_btn {
	background: url(../images/scroll.gif) 50% 50% no-repeat rgba(215, 181 ,94, 0);
	border: 2px solid #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	height: 40px;
	margin: 10px auto;
	-webkit-transition: all 500ms ease-in-out 0s;
	-moz-transition: all 500ms ease-in-out 0s;
	-ms-transition: all 500ms ease-in-out 0s;
	-0-transition: all 500ms ease-in-out 0s;
	transition: all 500ms ease-in-out 0s;
	width: 40px;
	position:absolute;
	left:50%;
	bottom:0;
}

.banner .scroll_btn:hover {
	background: url(../images/scroll.gif) 50% 50% no-repeat;
	opacity: .85;
	-moz-opacity: .85;
	-o-opacity: .85;
	-webkit-opacity: .85;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

/* imagenes superpuestas */
.contenedor {
  position: relative;
  width: 100%;
  max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.imagen {
  display: inline-block;
  width: 100%;
  height: auto;
	margin-left: auto;
	margin-right: auto;
}

.sobreponer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: transparent;
}

.contenedor:hover .sobreponer {
  opacity: 1;
}





/* navbar section */
.menu-scroll {
  padding-top: 0px;
  padding-bottom: 0px;
  position: fixed;
  top: 0;
	left: 0;
	right: 0;
	z-index: 300;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-color: #fff;
	height: 80px;
}
.container-fluid {
  margin-top: 15px;
}
.main_menu_bg{
	margin-top: 0px;
}
.main_menu_bg .navbar-default {
  background-color: transparent;
  border-color: transparent;
	transition: .6s;
}
.navbar-default .navbar-nav>li>a {
  color: #777;
  text-transform: uppercase;
  font-size: 14px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
	color: #21CFAC;
}
.main_menu_bg .navbar {
    margin-bottom: 0px;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color: #21CFAC;
	background-color: transparent;
}

/* logo */
.main_menu_bg a.navbar-brand{
	color: #21CFAC;
	font-weight: 700;
}
.main_menu_bg a:hover.navbar-brand{
	color: #351B9E;
	font-weight: 700;
}

/* Banner section */

.banner{
	background: #f2f2f2;
	position:relative;
	background-size: cover;
}
.main_banner_area{
	padding:250px 0px;
	overflow:hidden;
}
.single_banner_text h2{
	color:#333b46;
	font-weight:900;
}
.single_banner_text h5{
	font-size:16px;
	color:#81868e;
	font-weight:100;
	letter-spacing:.37rem;
}

/* wedo section */
.parrafo h2{
	font-weight:900;
	color:#333b46;
	max-width: 70%;
	margin: 0 auto;
}
.parrafo p{
	color: #81868e;
  font-weight: 300;
  max-width: 70%;
  margin: 0 auto;
}
.wedo_content_area{
	padding-bottom:100px;
  overflow: hidden;
}
.contorno{
	margin-top:40px;
	border:2px solid #ddd;
	padding:30px;
	border-radius:4px;
	transition:.6s;
}
.contorno:hover{
	background: #21CFAC;
	color: #f2f2f2;
}
.contorno:hover .single_left_icon i{
	background: #f2f2f2;
	color:#21CFAC;
}
.contorno:hover .single_right_text h4{
	color: #f2f2f2;
}

.contorno:hover .separator2{
	border-bottom: 3px solid #f2f2f2;
}
.contornoActivo{
	margin-top:40px;
	border:2px solid #ddd;
	padding:30px;
	border-radius:4px;
	background: #ddd;
}





.pregunta{
	margin-top:40px;
	padding:30px;
	border-radius:4px;
	transition:.6s;
}
.pregunta:hover{
	background: #21CFAC;
	color: #f2f2f2;
}
.pregunta:hover .single_left_icon i{
	background: #f2f2f2;
	color:#21CFAC;
}
.pregunta:hover .single_right_text h4{
	color: #f2f2f2;
}

.pregunta:hover .separator2{
	border-bottom: 3px solid #f2f2f2;
}
.preguntaActivo{
	margin-top:40px;
	border:2px solid #ddd;
	padding:30px;
	border-radius:4px;
	background: #ddd;
}







.marco{
	border:2px solid #ddd;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius:4px;
	transition:.6s;
}
.marco:hover{
	background: #fff;
}
.marco:hover .single_left_icon i{
	background: #f2f2f2;
	color:#21CFAC;
}
.marco:hover .separator2{
	border-bottom: 3px solid #f2f2f2;
}
.marcoOSCURO{
	border:2px solid #ddd;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius:4px;
	transition:.6s;
}
.marcoOSCURO:hover{
	background: #351B9E;
	color: #f2f2f2;
}
.marcoOSCURO:hover .single_left_icon i{
	background: #f2f2f2;
	color:#21CFAC;
}
.marcoOSCURO:hover .separator2{
	border-bottom: 3px solid #f2f2f2;
}
.single_left_icon{
    width: 25%;
    float: left;
    display: inline-block;
    margin-right: 20px;
	transition:.6s;
}
.single_left_icon i{
	color: #fff;
    font-size: 50px;
    background: #21CFAC;
    padding: 20px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 62px;
}
.single_right_text{
	width:70%;
	display:inline-block;
}
.single_right_text p{
	line-height:25px;
}

/* counterUp section */

.counterUp{
	background-image: linear-gradient(to bottom left, #21CFAC, #351B9E);
	background-size: cover;
}
.counter_overlay{
	padding:100px 0px;
	background-color: rgba(245, 49, 88, .0);
	color: #fff;
}
.counter_overlay p{
	color: #fff;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.counter_overlay h2{
	color: #fff;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.sinle_counter .separatorwhite {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    padding: 2px 0px;
    width: 10%;
    margin-bottom: 20px;
}
.sinle_counter{
	margin-top:20px;
}
.sinle_counter h4{
	color:#fff;
	font-weight:300;
}
.sinle_counter h4 i{
	color:#fff;
	margin-right:10px;
	display:inline-block;
}
.sinle_counter p{
	color:#fff;
	font-weight:300;
}


/* STEPS Section */
.steps{
	padding:90px 0px;
}
.main_steps_content{
	position:relative;
}
.main_steps_content:after{
    position: absolute;
    content: "";
    border-top: 2px solid #ddd;
    left: 15%;
    top: 120px;
    width: 70%;
    z-index: -1;
}
.single_steps{
	margin-top: 60px;
}
.single_steps:hover a i{
	color: #fff;
	background: #21CFAC;
}
.single_steps:hover a{
	border: 2px solid #21CFAC;
}
.single_steps a{
  border: 2px solid #ddd;
  width: 115px;
  height: 115px;
  display: inline-block;
  text-align: center;
  padding: 6px;
  border-radius: 50%;
	transition:.6s;
}
.single_steps a i{
  font-size: 45px;
  color: #21CFAC;
  background: #ddd;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
	transition:.6s;
}
.single_steps h4{
	margin:30px auto 20px auto;
	font-weight:300;
}
.single_steps p{
	line-height: 25px;
	font-size:18px;
}


/* featured section */
.featured{
    background: #f2f2f2;
    padding: 80px 0px;
    overflow: hidden;
}
.main_featured_content{
	margin-top: 50px;
}
.single_featured_area{
	padding:0;
	margin:0;
}
.single_featured{
	position:relative;
}
.single_featured img{
	width: 100%;
}
.single_featured:hover .featured_overlay {
	opacity: 1;
}
.featured_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 99%;
	opacity: 0;
	transition: .6s;
	box-shadow: inset 0 0 15px 0 #351B9E;
	background: #21CFAC;
}
.overlay_content{
	text-align: center;
  margin: 21% auto;
	color:#f2f2f2;
}

/* service Section */

.service{
	overflow:hidden;
	padding: 80px 0px 0px 0px;
}
.main_service_content .single_service .separatorwhite {
    border-bottom: 3px solid #fff;
    overflow: hidden;
    padding: 2px 0px;
    width: 10%;
    margin-bottom: 20px;
}
.main_service_content{
	background: #21CFAC;
}

.single_service_area{
    background: url(../images/service2.jpg) no-repeat left top;
    height: 337px;
    margin-top: 50px;
}
.single_service_area_two{
	background: url(../images/service2.jpg) no-repeat right top;
    height: 337px;
}
.single_service_area_three{
    background: url(../images/service2.jpg) no-repeat left top;
    height: 337px;
}

.single_service{
	color: #fff;
	margin-top: 20%;
}
.single_service h4{
	color: #fff;
}
.single_service p{
	color: #fff;
	font-weight:300;
	max-width: 70%;
}
.single_service p.service_P{
    max-width: 70%;
    margin-left: 30%;
}

/* franja sección */
.franja{
	background-image: linear-gradient(to bottom left, #21CFAC, #351B9E);
	background-size: cover;
}
.overlay_franja{
	padding:70px 0px;
}

.main_franja_content h2{
  color: #fff;
  font-size: 30px;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.main_franja_content h4{
	color:#fff;
  font-size: 20px;
  font-weight: 300;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.main_franja_content p{
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}
/* mixitup sección */


.main_mixi_content{
    max-height: 900px;

}
.main_mix_menu{
    margin-bottom:50px;
}
.single_mixi_portfolio{
    position:relative;
    float: left;
    border: 3px solid #fff;
    width:100%;
	height:100px;
}
.single_mixi_portfolio img{
    width:100%;
}
.single_mixi_portfolio:hover .mixi_portfolio_overlay{
    opacity:1;
}
.mixi_portfolio_overlay{
    background:#565d67;
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    transition:.5s;
    opacity:0;
}
.mixi_portfolio_overlay .overflow_hover_text{
    position: absolute;
    top: 35%;
    left: 15%;
    width: 70%;
}
.mixi_portfolio_overlay .overflow_hover_text i{
    color:#fff;
    font-size: 40px;
}
.mixi_portfolio_overlay .overflow_hover_text h2{
    color:#fff;
    font-size:22px;
}
.mixi_portfolio_overlay .overflow_hover_text p{
    color:#fff;
}
.test .mix{
  display: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 50% 0;
}




/* texto sección */

.texto{
	padding:80px 0px;
}
.main_texto_content{}

.single_texto p{
	font-weight: 300;
	font-size:18px;
	line-height: 21px;
	}
.single_texto{
	margin-top:50px;
}
.single_texto_img{
	position:relative;
}
.single_texto_img img{
	width: auto;
}
.single_texto_img:hover .single_texto_overlay{
	opacity:1;
}
.single_texto_name{}
.single_texto_name h4{
	font-size:19px;
	font-weight:500;
}
.single_texto_name p{
	font-size: 12px;
	font-weight: 300;
}

.single_texto_overlay{
	position:absolute;
	background: #21CFAC;
	width: 90%;
	padding: 20px 10px;
	left: 5%;
	bottom: 5%;
	opacity: 0;
	transition: .6s;
}
.single_texto_overlay p{
	color:#fff;
}
.single_texto_overlay a{
	margin-left:5px;
}
.single_texto_overlay a i{
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    margin-top: 20px;
}

/* testimonial sección */
.testimonial{
	background-image: linear-gradient(to bottom left, #21CFAC, #351B9E);
	background-size: cover;
}
.testimonial .parrafo h2{
	color:#fff;
}
.testimonial .parrafo h5{
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 4px;
	color:#fff;

}
.testimonial_overlay {
    padding: 50px 0px;
}
.single_testimonial_img{
	margin-top:40px;

}
.single_testimonial_img img{
	margin-bottom:30px;
}
.single_testimonial_img p{
  width: 55%;
  margin: 0 auto;
	text-align: center;
  margin-bottom: 30px;
	color:#fff;

}
.single_testimonial_img a{
	margin-top: 40px;
	color: #21CFAC;
	font-size: 20px;
	font-weight: 500;
}
.owl-theme .owl-controls {
    margin-top: 25px;
}
.owl-theme .owl-controls .owl-page span {
    background: #351B9E;
    border: 1px solid #351B9E;
}
/* Blog sección */
.main_blog{}
.single_blog{
	position:relative;
	margin-top: 50px;
}
.single_blog_img img{
	width:100%;
}
.single_blog_overlay{
    background: #21CFAC;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
    padding: 80px 20px;
}
.single_blog_overlay h4{
	color:#fff;
	font-size:16px;
}
.single_blog_overlay p{
	color:#fff;
	font-size:14px;
}
.single_blog_overlay a{
	color:#fff;
	font-size:12px;
	display:block;
	margin-top:25px;
	text-decoration:none;
}
.single_blog_overlay a i{
	margin-right:10px;
}


/* Footer sección */

.footer{
	background:#21CFAC;
}

.main_footer p{
	padding:20px 0px;
	color:#fff;
	margin-top:10px;
}
.main_footer p i{
	padding:0px 10px;
}
.main_footer p a{
	padding:0px 10px;
}



/* scrollup */

.scrollup{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	opacity: .3;
	position: fixed;
	bottom: 20px;
	right: 25px;
	color: #fff;
	cursor: pointer;
	background-color: #000;
	z-index: 1000;
	transition: opacity .5s, background-color .5s;
	-moz-transition: opacity .5s, background-color .5s;
	-webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
	background: #21CFAC;
	opacity: 1;
}

.scrollup img {
	font-size: 13px;
	position: absolute;
	opacity: 1;
	color: #fff;
	left: 35%;
	top: 35%;
	margin-top: -7px;
	margin-left: -6px;
	text-decoration: none;
}

/* tabla */
.tabla{
	padding:80px 0px;
}
.vikhi-tabla {
  border-collapse: collapse;
  width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.vikhi-tabla td, .vikhi-tabla th {
  border: 0px solid #ddd;
  padding: 5px;
}
.vikhi-tabla th {
  background-color: #351B9E;
	color: #f2f2f2;
}
.vikhi-tabla p {
	text-align: left;
}
.vikhi-tabla tr th p{
	color: #f2f2f2;
}
.tabla-borde {
  border-bottom: 1px solid #D3D3D3;
}


.vikhi-tabla tr:nth-child(even){background-color: #fff;}

.vikhi-tabla tr:hover {background-color: #ddd;}

.vikhi-tablaSM {
  border-collapse: collapse;
  width: 75%;
	margin-left: auto;
	margin-right: auto;

}
.vikhi-tablaSM td, .vikhi-tablaSM th {
  border: 0px solid #ddd;
  padding: 5px;
}
.vikhi-tablaSM th {
  background-color: #351B9E;
	color: #f2f2f2;
}
.vikhi-tablaSM p {
	text-align: left;
	font-size: 14px;
}
.vikhi-tablaSM tr th p{
	color: #f2f2f2;
}
.vikhi-tablaSM tr:nth-child(even){background-color: #fff;}

.vikhi-tablaSM tr:hover {background-color: #ddd;}
